$primary-color: #5211cb;
$button-color:black;
$font-family: 'Quicksand', sans-serif;
$placeholder-color: hsl(231, 6%, 54%);
$input-background-color: #f2f2f2;
$title-font-family: 'Encode Sans', sans-serif;
$title-font-size: 3.5rem;
$title-font-color: black;
